# my config for Devel::REPL
#
# Load some convenient plugins, set up lazy-loading of commonly
# used classes, etc.
#
# David Precious <davidp@preshweb.co.uk>, 2016

use lib 'tmp/lib';
use lib "$ENV{HOME}/.re.pl/lib";

my @loaded_plugins;
for my $plugin (qw(
    Colors
    Completion
    CompletionDriver::LexEnv
    CompletionDriver::Methods
    CompletionDriver::Keywords
    CompletionDriver::INC
    DumpHistory
    ModuleAutoLoader
    TerseDumper
)) {
    $_REPL->load_plugin($plugin)
        or warn "Failed to load plugin $plugin";
    push @loaded_plugins, $plugin;
}


print "Loaded Devel::REPL plugins: " . join(',', @loaded_plugins) . "\n";

# Common stuff to lazy-load:
for my $lazy_load_class (qw(
    Customer
    User
)) {
    #$_REPL->lazy_load($lazy_load_class);
}

sub new_obj {
    my $class = shift;
    require $class;
    return $class->new(@_);
}

# Usually the REPL's own output is fine, but sometimes I want to dump an object
# that supports stringification without it being stringified:
sub dd {
    if (eval "require Data::Dump") {
        print Data::Dump::dump(shift);
    } else {
        require "Data::Dumper";
        print Data::Dumper::Dumper(shift);
    }
}

